% makejvf settings for upnmtch* in japanese-otf-uptex
% based on Blocks-14.0.0.txt (Date: 2021-01-22, 23:29:00 GMT [KW])
% and Adobe-GB1-5/cid2code.txt (Version 12/05/2017)

CHARSET	%
+	0000..007F,% Basic Latin
+	0080..00FF,% Latin-1 Supplement
+	0100..017F,% Latin Extended-A
+	0180..024F,% Latin Extended-B
+	0250..02AF,% IPA Extensions
+	02B0..02FF,% Spacing Modifier Letters
+	0370..03FF,% Greek and Coptic
+	0400..04FF,% Cyrillic
+	1E00..1EFF,% Latin Extended Additional
+	2000..206F,% General Punctuation
+	20A0..20CF,% Currency Symbols
+	2100..214F,% Letterlike Symbols
+	2150..218F,% Number Forms
+	2190..21FF,% Arrows
+	2200..22FF,% Mathematical Operators
+	2300..23FF,% Miscellaneous Technical
+	2460..24FF,% Enclosed Alphanumerics
+	2500..257F,% Box Drawing
+	2580..259F,% Block Elements
+	25A0..25FF,% Geometric Shapes
+	2600..26FF,% Miscellaneous Symbols
+	2E80..2EFF,% CJK Radicals Supplement
+	2F00..2FDF,% Kangxi Radicals
+	2FF0..2FFF,% Ideographic Description Characters
+	3000..303F,% CJK Symbols and Punctuation
+	3040..309F,% Hiragana
+	30A0..30FF,% Katakana
+	3100..312F,% Bopomofo
+	31A0..31BF,% Bopomofo Extended
+	3200..32FF,% Enclosed CJK Letters and Months
+	3300..33FF,% CJK Compatibility
+	3400..4DBF,% CJK Unified Ideographs Extension A
+	4E00..9FFF,% CJK Unified Ideographs
+	A000..A48F,% Yi Syllables
+	A490..A4CF,% Yi Radicals
+	E000..F8FF,% Private Use Area
+	F900..FAFF,% CJK Compatibility Ideographs
+	FE10..FE1F,% Vertical Forms
+	FE30..FE4F,% CJK Compatibility Forms
+	FE50..FE6F,% Small Form Variants
+	FF00..FFEF,% Halfwidth and Fullwidth Forms
